<div class="card font-style" *ngIf="!loading">
  <div class="card-body">
    <universis-consents #consents [group]="consentsGroup" (submitted)="onSubmission($event)"></universis-consents>
  </div>
</div>
