<div class="row">
  <div class="col">
    <div>
      <h2 class="pt-4" [translate]="'Grades.Rules.Title'"></h2>
      <p class="font-lg text-gray-600" [translate]="'Grades.Rules.Description'"></p>
    </div>

    <div *ngIf="!isLoading && rules">
      <div class="d-sm-flex justify-content-end mb-3" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" (click)="setUpdated(false)"
            [ngClass]="!updated ? 'btn-primary':'btn-gray-100 text-gray-500'" class="btn">{{
            'Grades.Rules.ShowNotUpdated' | translate}}</button>
          <button type="button" (click)="setUpdated(true)"
            [ngClass]="updated ? 'btn-primary':'btn-gray-100 text-gray-500'" class="btn">{{
            'Grades.Rules.ShowUpdated' | translate}}</button>
        </div>
      </div>
      <div class="alert alert-warning alert-dismissible show font-lg" role="alert">
        <strong translate="Grades.Rules.ValidityWarning.Prefix"></strong>&nbsp;
        <span translate="Grades.Rules.ValidityWarning.Message"></span>
      </div>
      <div *ngIf="skipped" class="alert alert-warning alert-dismissible show" role="alert">
        <strong translate="Grades.Rules.SkippedWarning.Prefix"></strong>&nbsp;
        <span translate="Grades.Rules.SkippedWarning.Message"></span>
      </div>
      <div *ngFor="let rule of rules">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="sis--list-title text-dark">
                  <span *ngIf="rule.semester">{{ rule.semester | semester }}</span> 
                  <span *ngIf="rule.referenceYear"> ({{ rule.referenceYear?.name }} {{ rule.referencePeriod?.name }})</span>
                  <span *ngIf="rule.semester == null" translate="Grades.Rules.NoSemesterRule"></span>
                </div>
                <div
                  *ngIf="rule.totalCourses + rule.totalUnits + rule.totalEcts + rule.totalHours + rule.rules.length > 0; else noRules">
                  <div class="d-flex flex-wrap">
                    <app-grades-rules-rule [rule]="rule" [projection]="'Courses'"></app-grades-rules-rule>
                    <app-grades-rules-rule [rule]="rule" [projection]="'Ects'"></app-grades-rules-rule>
                    <app-grades-rules-rule [rule]="rule" [projection]="'Units'"></app-grades-rules-rule>
                    <app-grades-rules-rule [rule]="rule" [projection]="'Hours'"></app-grades-rules-rule>
                  </div>
                </div>
                <ng-template #noRules>
                  <span class="text-secondary" [translate]="'Grades.Rules.NoSemesterRules'"></span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="trimmed" class="card">
        <div class="card-body">
          <span class="text-secondary" [translate]="'Grades.Rules.RulesTrimmed'"></span>
        </div>
      </div>
      <div *ngIf="rules.length == 0" class="card">
        <div class="card-body">
          <span class="text-secondary" [translate]="'Grades.Rules.NoRules'"></span>
        </div>
      </div>
    </div>

  </div>
</div>