<div *ngIf="rule[fieldTotal] + relevantSubrules.length > 0" class="d-flex m-2" style="min-width: 18em;">
  <div class="rule-circle progress circle-text align-self-start"
    [ngClass]="valid ? 'text-success' : 'text-danger'"
    style="--progress: {{ rule[fieldPassed] / rule[fieldTotal] }}">
    <div class="rule-tooltip">
      <div class="font-lg text-truncate">
        <span class="current">{{rule[fieldPassed]}}</span>
        <span class="total">/{{rule[fieldTotal]}}</span>
      </div>
    </div>
  </div>
  <div class="align-self-center pl-2">
    <span [translate]="'Grades.Rules.' + projection"></span>: {{ rule[fieldPassed] }} / {{ rule[fieldTotal] }}
    <div *ngIf="relevantSubrules.length> 0">
      <div *ngFor="let subrule of relevantSubrules" class="pl-2">
        <span class="check {{subrule.totals[subfieldPassed] >= subrule.totals[subfieldTotal] ? 'text-success' : 'text-danger'}}" >
          <i class="fas {{subrule.totals[subfieldPassed] >= subrule.totals[subfieldTotal] ? 'fa-check' : 'fa-times'}}"></i>
        </span>
        <span>
          {{ subrule.courseTypesNames }}: {{ subrule.totals[subfieldPassed] }} / {{ subrule.totals[subfieldTotal] }}
        </span>
      </div>
    </div>
  </div>
</div>