
.check {
    display: inline-block;
    min-width: 1rem;
    text-align: center;
}

.rule-circle.progress {
    width: 3.75rem;
    height: 3.75rem;
}
.rule-circle.progress {
    --progress: 0;
    --progress-cent: calc(100% * var(--progress));
    
    background: conic-gradient(
        #4dbd74 var(--progress-cent), 
        #f86c6b var(--progress-cent)
    );
    border: none;
    display: flex;
    padding: 4px;
}

.rule-circle.progress .rule-tooltip {
    background: white;
    border-radius: 50%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rule-circle.progress .current {
    font-weight: bold;
}

.rule-circle.progress .total {
    font-size: .65em;
    color: grey;
}
.rule-circle.progress.text-success .total {
    display: none;
}
