<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>
<h2 class="pb-4 pt-2" [translate]="'StudentGradeRemarkActions.Request'"></h2>
<div class="card" *ngIf="requestsCount">
  <div class="card-body">
    <div [translate]="'StudentGradeRemarkActions.AlreadyRequested'" [translateParams]="{requestsCount: requestsCount,maxNumberOfRemarking : maxNumberOfRemarking }">
    </div>
  </div>
</div>

