<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'ThesisRequestActions.ThesisRequest'"></h2>
<div *ngIf="thesisRequestActions">
  <div class="card" *ngFor="let action of thesisRequestActions">
    <div class="card-body">
      <div>
        {{'ThesisRequestActions.AlreadyRequested' | translate}} {{action.startTime | date: 'dd/MM/yyyy'}} <span *ngIf="action && action.description">{{ 'ThesisRequestActions.Titled' | translate}} "{{action.description}}" </span> {{'ThesisRequestActions.AndItTs' | translate}}
        {{'Requests.ActionStatusTypes.' + action?.actionStatus?.alternateName | translate}}
      </div>
    </div>
  </div>
</div>
