<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>
<h2 class="pb-4 pt-2" [translate]="'RequestSuspendActions.SuspendRequest'"></h2>
<p *ngIf="description != undefined && !loading" class="col-12 text-secondary">{{ description }}</p>
<div class="col-12 mt-2"
  *ngIf="suspendRequestAction && suspendRequestAction.actionStatus && suspendRequestAction.actionStatus.alternateName && (suspendRequestAction.dateCreated || suspendRequestAction.dateModified)">
  <div class="py-2">
    <h4>
      <h5 class="text-secondary">{{'Requests.Status' | translate}}: {{'ActionStatusTypes.' + suspendRequestAction.actionStatus.alternateName | translate}}</h5>
    </h4>
    <div class="pb-2 text-secondary">
      <span>
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{suspendRequestAction.dateCreated | date: 'short'}}</span>
      </span>
      <span class="ml-2">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{suspendRequestAction.dateModified | date: 'short'}}</span>
      </span>
    </div>
  </div>
</div>
<tabset #tabSet class="col-12 col-lg-8 tab-navbar tab-container">
<ng-container *ngIf="!loading">
  <tab heading="{{'RequestSuspendActions.Info' | translate}}" class="px-1" id="request-information">
  <div class="card">
    <div class="card-body">
      <div *ngIf="suspendRequestAction == null || suspendRequestAction.actionStatus.alternateName === 'PotentialActionStatus'" >
        <advanced-form-edit #form [data]="data" [formName]="src"
          (formSubmitted)="onCompletedSubmission($event)" (dataChange)="onDataChange($event)"></advanced-form-edit>
      </div>
    </div>
  </div>
  </tab>
  <tab [disabled]="!(suspendRequestAction && suspendRequestAction.id) || !isValid || !saved"
  heading="{{'Requests.Attachments.Title' | translate}}" id="attach-documents">

  <div *ngIf="suspendRequestAction && suspendRequestAction.code">
    <app-document-submission-request [requestType]="'RequestSuspendAction'"
      [request]="suspendRequestAction.code"></app-document-submission-request>
  </div>
  </tab>

</ng-container>
</tabset>
<div *ngIf="activeTab" class="col-12 mb-4">
  <div class="d-flex justify-content-end">
    <button (click)="next()" *ngIf="activeTab.id === 'request-information'"
      [disabled]="!isValid"
      [translate]="'Requests.TemporarySave'" class="btn btn-primary btn-md text-right" type="button"></button>
  </div>
</div>
